:root {
  background: url('C:\WEB DEVELOPMENT\Chat_Application\client\src\assets\backgroundImage.jpg') no-repeat center center fixed;
  background-size: cover;
}

/* Target the scrollbar track for Chrome, Safari, Edge */
*::-webkit-scrollbar {
  width: 10px;
  background-color: #292929;
  border-radius: 5px;
}

/* Target the scrollbar thumb for Chrome, Safari, Edge */
*::-webkit-scrollbar-thumb {
  background-color: #616161;
  border-radius: 5px;
}